{extends '../layout.latte'}

{block content}
<h1>Ajouter une station</h1>
<form action="/station" method="post">
<fieldset class="flex one">
	<label><input type="text" name="station_id" placeholder="Identifiant" required></label>
    <label><input type="text" name="description" placeholder="Description" required></label>
    <label><input type="text" name="key" placeholder="Clé d'accès" required></label>
	<label><button type="submit">Créer</button></label>
</fieldset>
</form>
{/block}