{extends '../layout.latte'}

{block headscript}
	<link rel="stylesheet" href="/public/css/c3.css" nonce="{$nonce}">
	<script src="/public/js/c3.js" nonce="{$nonce}"></script>
	<script src="/public/js/d3@5.js" nonce="{$nonce}"></script>
	<script src="/public/js/main.js" nonce="{$nonce}"></script>
	{if ($pwa['enable'])}
        	<link rel="apple-touch-icon" href="/public/img/apple-touch-icon.png">
        	<link rel="manifest" href="{route('stationpwa', ['station_id' => $station->station_id])}">
    {/if}
{/block}

{block content}

<h1>{$station->description}</h1>
{if ($station->currentDataPoint)}
	<small>Mise à jour le {$station->currentDataPoint->dateutc|date:'d/m/Y à H\hi'} <button id="refresh" class="button" style="font-size: .75em;" disabled>Actualiser</button></small>
	<script nonce="{$nonce}">
	
	</script>
	<div class="tabs one">
		<input id='tab-day' type='radio' name='tabgroupB' />
		<label for='tab-day'><a class="pseudo button toggle" href="{route('station_evolution', ['station_id' => $station->station_id])}">Jour</a></label>
		<input id='tab-week' type='radio' name='tabgroupB'/>
		<label for='tab-week'><a class="pseudo button toggle" href="{route('station_evolution_week', ['station_id' => $station->station_id])}">Semaine</a></label>
		<input id='tab-week' type='radio' name='tabgroupB' checked/>
		<label class="pseudo button toggle" for="tab-week">Mois</label>
		<input id='tab-show' type='radio' name='tabgroubB'>
		<label for='tab-show'><a class="pseudo button toggle" href="{route('station_show', ['station_id' => $station->station_id])}">Retour</a></label>
		<div class="row">
			<div>
				<h2>Mois</h2>
				<div id="monthly_chart_container" style="width: 90%; margin: auto; ">
					<h3>Température extérieure</h3> 
					<div id="monthly_temp_chart" data-url="{route('data_monthly_temperature', ['station_id' => $station->station_id])}"></div>
					<h3>Pluie</h3>
					<div>
					<article class="card">
						<header style="text-align: center;"><strong>Total</strong></header>
						<span class="label pseudo" style="margin: 0;"><h1 id="monthly-rain-total"></h1></span>
					</article>
					</div> 
					<div id="monthly_rain_chart" data-total-field="monthly-rain-total" data-url="{route('data_monthly_rain', ['station_id' => $station->station_id])}"></div>
					<h3>Pression athmosphérique</h3> 
					<div id="monthly_press_chart" data-url="{route('data_monthly_pressure', ['station_id' => $station->station_id])}"></div>
					<h3>Humidité</h3> 
					<div id="monthly_humid_chart" data-url="{route('data_monthly_humidity', ['station_id' => $station->station_id])}"></div>
					<h3>Température intérieure</h3> 
					<div id="monthly_indoortemp_chart" data-url="{route('data_monthly_indoortemp', ['station_id' => $station->station_id])}"></div>
				</div>
			</div>
		</div>
	</div>
	{else}
	<div>
		<p>Aucune donnée</p>
	</div>
{/if}
{/block}