{extends '../layout.latte'}

{block content}
<h1>Authentification</h1>
<form action="{route('login_authenticate')}" method="post">
    <p>Renseignez vos identifiants :</p>
    <label for="username">Nom d'utilisateur :</label>
    <input type="text" name="username" id="username" required>
    <label for="password">Mot de passe :</label>
    <input type="password" name="password" id="password" required>
    
    <button type="submit">Login</button>
</form>
{/block}