<!doctype html>
<html lang="en">
    <head>
        <!-- Picnic.css is a CSS framework that works out of the box with little configuration -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Meteo Dashboard - Installation</title>
    </head>
    <body style="padding: 15px;">
        <h1>Installation en cours</h1>
        <p>{$result}</p>
    </body>
</html>
