<!doctype html>
<html lang="en">
    <head>
        <!-- Picnic.css is a CSS framework that works out of the box with little configuration -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{$page_title ? $page_title.' - '}Meteo Dashboard</title>
        {if ($pwa['enable'])}
        	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
        	<link rel="manifest" href="/manifest.webmanifest">
        {/if}
    </head>
    <body>
	    <nav>
		  <a href="{route('home')}" class="brand">
		    <span>Meteo Dashboard</span>
		  </a>
		
		  <!-- responsive-->
		  <input id="bmenub" type="checkbox" class="show">
		  <label for="bmenub" class="burger pseudo button icon-cog">&#8801;</label>
		
		  <div class="menu">
			<a href="{route('station')}" class="pseudo button">Stations</a>
			{if (!$username)}<a href="{route('login')}" class="pseudo button icon-puzzle">Connexion</a>{/if}
		    {if ($username)}
		    	<a href="{route('user')}" class="pseudo button">Utilisateurs</a>
		    	<a href="{route('logout')}" class="pseudo button">Déconnexion</a>
	    	{/if}
		  </div>
		</nav>
		<main style="padding: 50px 15px 15px 15px;">
        	{block content}{/block}
        </main>
    </body>
</html>
